

*{
    margin: 0;
    padding:0;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.clear{
    clear:both;
}
.auto{
    margin: auto;
    width: 1200px;
}

ul{
    list-style: none;
}
button{
    background: none;
}
a{
    text-decoration:none;
    color:black;
}
body{
    background-color: #f3f3f3;
}




.nav{
    height: 72px;
}
.nav_cont{
    width:1200px;
    margin: auto;
    height: 72px;
}

.nav_img{
    height:100%;
}
.nav_list{
    margin-left: 159px;
    height:100%;
}
.logReg{
    height:100%;
    width: 95px;
}

.nav_list li{
    width:80px;
    margin-right: 23px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    font-size: 18px;

    float:left;
}

.nav_list a{
    color: #3c3d46;
}

.list_1{
    color: #fefeff;
}

.lr{
    color:#3c3d46;
    font-size: 18px;
    line-height: 72px;
}

.canvas{
    height:600px;
    background:url(../img/canvas.jpg) no-repeat center;
    position: relative;
}
.select{
    width:54px;
    height:16px;
    position: relative;
    top: 555px;
    margin: auto;
}

.circle1{
    width:16px;
    height:16px;
    background-color: #fcfcfd;
    border-radius: 50%;
}

.circle2{
    width:15px;
    height:15px;
    border:1px solid #fcfcfd;
    border-radius: 50%;
}

.form{
    margin:70px auto 0;
    width:350px;
    position:relative;
}

.inp{
    width:338px;
    height:40px;
    border-radius: 5px;
    padding-left: 12px;
}

.form_icon{
    position: absolute;
    top: 9px;
    left:312px;

}

.title{
    width:327px;
    margin:107px auto 0;
    position:relative;

}

.line{
    width:72px;
    height:6px;
    background-color:#666666;
    position: relative;
    top: 20px;
}

.title_txt{
    font-size: 36px;
    margin-left: 14px;
    color:#5696ff;
}

.subtitle{
    font-size: 22px;
    color:#666666;
    margin: 20px auto 0;
    text-align: center;
}

.area_img{
    width:1200px;
    margin: auto;
    margin-top:56px;
    margin-bottom:72px;
}

.img_content{
    width:118px;
    height:372px;
    float:left;
    margin-left:2px;
}

.img_center{
    width:594px !important;

}

.sichuan{
    background-image:url(../img/sichuan.jpg)
}

.dali{
    background-image:url(../img/dali.jpg)
}
.denmark{
    background-image:url(../img/denmark.jpg)
}
.japan{
    background-image:url(../img/japan.jpg)
}
.france{
    background-image:url(../img/france.jpg)
}

.mask{
    height:100%;
    background-color: rgba(51,51,51,0.5);
}

.mask_txt{
    font-size:28px;
    color:#fbfcfd;
    line-height:28px;
    padding-left: 35px;
    padding-top: 70px;
}

.player{
    margin-top:24px;
    margin-left: 248px;
}
.more_div{

    width:160px;
}
.more{
    width:160px;
    height:54px;
    box-sizing: border-box;
    border-radius:5px;
    border:2px solid #5696ff;
    color:#5696ff;
    font-size: 26px;
}

.special{
    margin: auto;
    margin-top:54px;
    width:1200px;
    color:#ffffff;
    margin-bottom: 72px;
}

.spc_left{
    width:891px;
}
.spc_right{
    width:300px;
}

.spc_denmark{
    width:441px;
    height:307px;
    background-image: url(../img/spc_denmark.jpg);
    position: relative;
}

.spc_vietnam{
    margin-left:8px;
    width:442px;
    height:307px;
    background-image: url(../img/spc_vietnam.jpg);
    position: relative;
}

.left_bottom{
    margin-top: 8px;
}

.spc_thai{
    width: 362px;;
    height: 369px;;
    background-image: url(../img/spc_thai.jpg);
    position: relative;
}

.spc_malay{
    margin-left: 8px;
    width: 521px;
    height: 369px;;
    background-image: url(../img/spc_malay.jpg);
    position: relative;
}

.right_top{
    width:300px;
    height:472px;
    background-image: url(../img/spc_japan.jpg);
    position: relative;
}

.right_bottom{
    margin-top: 8px;
    width:300px;
    height:204px;
    background-image: url(../img/spc_india.jpg);
    position: relative;
}

.spc_txt{
    position: absolute;
    top: 46px;
    left:55px;
    font-size:22px;
    color:#ffffff;
}

.vietnam_mask{
    width:400px;
    height:266px;
    border: solid 4px #ffffff;
    background-color:rgba(0,0,0,0.3);
    margin-top:21px;
    margin-left: 20px;
    
}

.vietnam_content{
    margin: auto;
    margin-top:87px;
    width:316px;
    
}

.vietnam_line{
    width:90px;
    height:4px;
    background-color: #ffffff;
    position: relative;
    top:15px;
    
}

.vietnam_txt{
    font-size:26px;
    margin-left: 29px;
}

.more_blue{
    background-color: #5696ff !important;
    color:#fefefe !important;
}

.mexico_img{
    margin-top:227px;
    position: relative;
}



.pyramid{
    border: solid 41px #f3f3f3;
    position:absolute;
    left:611px;
    top:-132px;
}
.tour_txt{
    color:#333333;
    margin-top:50px;
}
.tour_title{
    width:449px;
}
.tour_line{
    margin-left:auto;
    width:132px;
    height:6px;
    background-color: #666666;
    margin-bottom:26px;
}

.tour_title p{
    font-size: 30px;
    text-align: right;
    line-height: 30px;
}

.tour_content{
    font-size: 24px;
    width:560px;
    line-height:47px;
}

.tour_content p{
    text-indent: 2em;
}

.mexico_full{
    width:180px;
    height:60px;
    border: solid 3px #999999;
    border-radius:5px;
    font-size: 26px;
    color:#333333;
    margin-top:46px;
}

.nz_img{
    margin-top:71px;
    position: relative;
}

.nz_img2{
    border: solid 47px #f3f3f3;
    position: absolute;
    left:484px;
    top:64px;
}

.nv_txt{
    position: relative;
    margin-bottom: 130px;
}

.nz_content{
    position: absolute;
    top:-205px;
    left:639px;
}

.share_txt{
    margin-top:53px;
}

.shadow{
    box-shadow: #b0a7a7 0 0 3px 3px;
}

.share_dali{
    width:730px;
    height:955px;
    background: url(../img/share_dali.jpg) no-repeat;
    
    
}

.share_mask{
    padding: 65px 52px 0 37px;
    width:412px;
    height:888px;
    background-color: rgba(0,0,0,0.3);
    color:#fefefe;
}


.dali_title {
    color:#5696ff !important;
    font-size: 24px;
}

.dali_subtitle1{
    margin-top:85px;
    font-size: 24px;
}

.dali_subtitle2{
    font-size: 20px;
}

.dali_date{
    text-align:right;
    margin-top:25px;
    margin-bottom:30px;
}

.share_mask p{
    font-size: 18px;
    line-height: 48px;
    text-indent: 2em;
}

.dali_full{
    margin-top:130px;
    width:160px;
    height:60px;
    border:solid 2px rgba(255,255,255,0.5);
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
}

.share_list{
    width:375px;
    height:431px;
    background-color:#ffffff;
    padding: 35px 35px 0 33px;
}

.share_img{
    width:350px;
    height:281px;
    
    padding-top:16px ;
    padding-left: 15px;
}

.thai_img{
    background: url(../img/share_thai.jpg);
}

.share_label{
    margin-right:9px;
    color: #fff;
    font-size: 12px;
    background-color:rgba(86,150,255,0.5);
    text-align:center;
    height: 18px;
}

.label1{
    width:60px;
}
.label2{
    width:30px;
}


.right_date{
    margin-top:14px;
    font-size: 12px;
    color: #333333;
}
.right_title{
    font-size: 14px;
}

.share_right p{
    font-size: 12px;
    color:#666666;
    line-height: 20px;
}

.right_full{
    color:#5696ff;
}

.kawag_img{
    background: url(../img/share_kawag.jpg);
}

.share_photo{
    margin-top: 55px;
    height:478px;
    background-color: #fff;
    padding: 20px 22px 0 18px;
    width:1160px !important;
    margin-bottom:100px;
    position: relative;
}

.photo_title{
    font-size:24px;
    color:#5696ff;
}

.photo_images{
    margin-top:28px;
}

.photo_images img{
    margin-right: 13px;
}

.photo_txt{
    margin-top:15px;
    color:#666666;
}

.photo_txtcont{
    width:200px;
    position:relative;
    margin-right: 94px;
}

.photo_date,.photo_author{
    font-size: 12px;
}

.photo_name{
    margin-top: 10px;
    font-size: 18px;
}

.photo_author{
    position:absolute;
    left:80px;
    top:2px;
}

.arrow{
    width:52px;
    height:52px;
    background-color:#ffffff;
    position:absolute;
    top:218px;
    text-align: center;
    line-height:52px;

}

.arrow img{
    vertical-align: middle;
}


.left_arrow{
    left:18px;
    
}
.right_arrow{
    right:20px;
}

.copyrights{
    margin-top:65px;
    padding-top:35px;
    height:95px;
    background-color:#5696ff;
    color:#fafafc;
    font-size: 16px;
}

.cpr_txt{
    width:650px;
    line-height:34px;
}